@keyframes rotation {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-360deg);
    }
    
  }

  @keyframes bounce{
      0%{
          opacity: 1;
          bottom: 0;
      }

      99%{
          opacity: 0;
          bottom: 0;
      }
      100%{
          opacity: 0;
          bottom: 100%;
      }
     
  }

  @keyframes beating{
      0%{
          transform: rotate(0);
      }
      25%{
          transform: rotate(20deg);
      }
      50%{
          transform: rotate(0);
      }
      75%{
          transform: rotate(-20deg);
      }
      100%{
          transform: rotate(0);
      }
  } 

  @keyframes points{
      0%{
          opacity: 0;

      }
      100%{
          opacity: 1;
      }
  }

  @keyframes cascade{

    0%{
        opacity: 0;
        transition: translateY(100px);

    }
    100%{
        opacity: 1;
        transition: translateY(0px);


    }
  }
  
  .anim1{
    animation: cascade 200ms ease-in-out;
  }
  .anim2{
    animation: cascade 400ms ease-in-out;
    animation-delay: 500ms;
  }
  .anim3{
    animation: cascade 600ms ease-in-out;
    animation-delay: 1000ms;
  }
  /* voir transition */