.footer{
    background-color: #353535;
    display: block;
    

    &__contain{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      @media (max-width:2580px) {
        margin: auto;
        max-width: 1440px;
        
      }
    }

    &__contain__logo{
      color:#ffffff;
      font-family: Shrikhand,"cursive";
      font-size: 1.3rem;
      margin: 0 0 1rem 1rem;
    }

    &__list{
      list-style: none;
      padding: 0;
      margin: 1rem;
      font-size: 1rem;

      &__shortlist{
        margin-top: 0;
        padding: 0 0 0.7rem 0;
        

        .footer-link{
          color: #ffffff;
          text-decoration: none;
          

          &__icons{
            width: 1.2rem;
            margin-right: 2rem;
          }
          
        }
      }
    }
  }


