.head {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 0;
}

.head_title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  margin: 1rem 0;

  &_title {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-family: "Shrikhand", cursive;
    margin: 1rem 0;
  }
}


.explore {
  background-color: $cd-bgd;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;

  .location {
    background-color: #f0f0f0;
    font-weight: 600;
    -webkit-box-shadow: inset 0px 10px 13px 1px rgba(0, 0, 0, 0.53);
    box-shadow: inset 0px 10px 8px -7px rgba(0, 0, 0, 0.53);
    padding: 1rem 1rem 1rem 2rem;
  }

  .location input {
    border: none;
    font-size: 20px;
    background: #f0f0f0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 1.5rem;
    width: 180px;
    color: $cd-txt;
  }

  &_icon {
    width: 80px;
    display: flex;
    padding: 0 1rem 0 0;
    color: &$cd-txt;
  }

  &_title {
    padding: 0 30px;
  }
  &_subtitle {
    padding: 0 20px;
    font-weight: lighter;
    padding-bottom: 10px;
  }

  &_light {
    font-weight: lighter;
  }

 
}
.btn{
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  text-align: center;
  padding: 0.7rem 2.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin: -5rem;    
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all;
  transition-duration: 0.25s;
  opacity: 1;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.7;
  }  
    

}

/* Fonctionnement*/

.function {
  background-color: #ffffff;
  display: block;
  margin-bottom: 2rem;


  &_contain {
    margin: auto;
    position: relative;
  }

  &_contain_title {
    font-size: 1.7rem;
    margin: 0;
    padding: 0.9rem;
  }

  &_contain_list {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: listeCompte;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &_contain_item .icons {
    margin-right: 1rem;
    color: #888;
    font-size: 1.5rem;
  }
  
  &_contain_item::before{
      counter-increment: listeCompte;
      content: counter(listeCompte)"";
      background: #9356dc;
      opacity: 1;
      height: 2rem;
      width: 2rem;
      border-radius: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      position: absolute;
      left: -1rem;

      
  }
  
    &_contain_item {
      display: flex;
      position: relative;
      padding: 1.5rem;
      margin: 1rem 1.5rem 1rem 2rem;
      box-shadow: 0px 5px 10px gainsboro;
      border-radius: 1.25rem;
      background-color: #f6f6f6;
      width: 100%; /* width calc ou box sizing */
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        background-color: lighten($color-primary, 35%);
        
      }

      &:hover .icons{
          color: $color-primary;
        
      }
  
      @media screen and (min-width:768px){
        flex-wrap: nowrap;
      }
    }
  }

