.restaurantm{
  display: flex;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0 ;
  background-color: #f6f6f6;
  position: relative;


.menus{
    display: flex;
    padding: 1rem 5%;
    padding-bottom: 75px;
    margin-top: -2.5rem;
    flex-direction: column;
    border-radius: 2.5rem 2.5rem 0 0 ;
    z-index: 1;

    &_title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2.5rem;

      &_rest{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        font-family: "Shrikhand", cursive;
        font-weight: normal;
        

        &__heart{
         height: 2rem;
         width: 2rem;
         border: 0 solid transparent;
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         position: relative;
          }
      }
    }
  }

  .menu_list{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    
       
    .entry{
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: 400;
   
  
    }
  }

}