body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.head {
  text-align: center;
  font-size: 18px;
}

.head_title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  margin: 1rem 0;
}

/* Location*/
.explore {
  background-color: whitesmoke;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore .location {
  background-color: #f0f0f0;
  font-weight: 600;
  -webkit-box-shadow: inset 0px 10px 13px 1px rgba(0, 0, 0, 0.53);
  box-shadow: inset 0px 10px 8px -7px rgba(0, 0, 0, 0.53);
  padding: 1rem 1rem 2rem 2rem;
}

.explore .location input {
  border: none;
  font-size: 20px;
  background: #f0f0f0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  height: 1.5rem;
  width: 180px;
  color: black;
}

.explore_icon {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem 0 0;
  color: black;
}

.explore_title {
  padding: 0 30px;
}

.explore_subtitle {
  padding: 0 20px;
  font-weight: lighter;
  padding-bottom: 10px;
}

.explore_light {
  font-weight: lighter;
}

.explore__button {
  color: #ffffff;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc, #ff79da);
  text-align: center;
  padding: 0.7rem 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin: 20px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

/* Fonctionnement*/
.function {
  background-color: #ffffff;
  display: block;
}

.function .contain {
  margin: auto;
  position: relative;
}

.function_title {
  font-size: 30px;
  margin: 0;
  padding: 1.5rem;
}

.function_list {
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
  list-style-type: none;
  counter-reset: listeCompte;
}

@media (min-width: 768px) {
  .function_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.function_item::before {
  counter-increment: listeCompte;
  content: counter(listeCompte) "";
  background: #9356dc;
  height: 2rem;
  width: 2rem;
  border-radius: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: absolute;
  left: -1rem;
}

.function_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 1.5rem;
  margin: 1rem 1rem 1rem 0.5rem;
  -webkit-box-shadow: 0px 5px 10px gainsboro;
          box-shadow: 0px 5px 10px gainsboro;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  width: 100%;
  /* width calc ou box sizing */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */