body {
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.header {
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.5rem #00000066;
          box-shadow: 0 0 0.5rem #00000066;
  position: relative;
}

.head_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 5px lightgrey;
          box-shadow: 0 5px 5px lightgrey;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", cursive;
}

.head_main_link {
  position: absolute;
  left: 20px;
  top: 35px;
  color: black;
  font-size: 2.2rem;
}

.head_main__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 80px;
  color: black;
  font-size: 1.2rem;
}

.head_main__arrow__logo {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
}

/* background header*/
.img__menu {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Menu Cards*/
.menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -2rem;
  background-color: #f6f6f6f6;
  font-size: large;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px 30px 0 0;
}

.title {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__txt {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "shrikhand", cursive;
  font-size: larger;
}

.title__logo {
  font-size: 35px;
  position: relative;
  cursor: pointer;
  color: black;
  /* voir audrey couleur icone*/
}

/* ENTREE*/
.items_contain {
  height: 80px;
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 1rem;
}

.items_contain_name {
  width: 70%;
  padding: 0px 4rem;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.items_contain_price {
  width: 10%;
  padding: 0px 4rem;
  text-align: center;
}

.items_contain_logo {
  height: 80px;
  width: 10%;
  padding: 0px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  color: #fff;
  background-color: aqua;
  border-radius: 0 1rem 1rem 0;
  font-size: 1rem;
  /* voir audrey*/
}

/* FOOTER*/
.footer {
  background-color: #353535;
  display: block;
}

.footer__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer__contain__logo {
  color: #ffffff;
  font-family: Shrikhand,"cursive";
  font-size: 1.5rem;
  margin: 0 0 1rem 1rem;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

.footer__list__shortlist {
  margin-top: 0;
  padding: 0 0 12px 0;
}

.footer__list__shortlist .footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__list__shortlist .footer-link__icons {
  width: 1.2rem;
  margin-right: 2rem;
}
/*# sourceMappingURL=stylesfolder.css.map */